/* TABLEAU ADMIN */

.tableau-admin {
    display: flex;
    padding-top: 50px;
    margin-right: 5%;
    margin-left: 5%;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #e0e0e0;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #e0e0e0;
}

th {
    background-color: #e0e0e0;
    color: #333;
}

tbody tr:nth-child(odd) {
    background-color: #e9e9e9;
}

tbody tr:nth-child(even) {
    background-color: #e0e0e0;
}