/*    HEADER   */

.c-navbar-top {
    background-color: var(--red); /* Couleur de fond de la barre de navigation */
    color: #fff; /* Couleur du texte */
    padding: 10px 0; /* Espacement intérieur en haut et en bas */
}

.c-navbar-top a {
    color: #fff; /* Couleur des liens dans la barre de navigation */
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin: 46.5%;
}

.nav2 {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px;
}

.nav2 div {
    display: flex;
    align-items: center;
}

.nav2 div img {
    width: 10%;
    padding: 10px;
    margin-left: 5%;
    margin-right: 10px;
}

/* BODY */

body {
    background-color: #f2f2f2;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
}

.text {
    font-family: 'Open Sans Condensed', sans-serif;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    padding-right: 25px;
    text-size-adjust: auto;
}

/*   BOUTONS   */

.form-style-8{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 input[type="phone"],
.form-style-8 textarea,
.form-style-8 select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"], 
.form-style-8 input[type="submit"]{
    margin-top: 10px;
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover, 
.form-style-8 input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
} 

/*   FOOTER   */

body {
    margin: 0;
}

.bottom-decoration {
    position: fixed;
    width: 100vw;
    height: 10px;
    bottom: 0;
    z-index: 100;
}

*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
}

.bottom-decoration .red {
    background-color: var(--red);
}

.bottom-decoration .blue {
    background-color: var(--blue);
}

.bottom-decoration .yellow {
    background-color: var(--yellow);
}

.bottom-decoration div {
    float: left;
    width: calc(100%/3);
    height: 100%;
}

:root {
    --blue: #00a5a5;
    --red: #dc3545;
    --yellow: #fec800;
}